@mixin font($size, $weight, $line-height, $style:normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-style: $style;
}

@mixin flex($justify, $align:flex-start, $direction:row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin centre($axis: "both") {
  position: absolute;
  @if $axis == "y" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == "x" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-51%, -50%);
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  animation:         $animations;
}
@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}