.blog-section {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #F8F8F8;

  &__subtitle {
    text-align: center;
  }

  &__title {
    margin-bottom: 80px;
    text-align: center;
  }

  &__blog-wrapper {
    @include flex(space-between);
    gap: 50px;
  }

  &__blog-post {
    flex: 1 1 45%;
  }
}

